.statistics {
  margin-top: 50px;
}
.stat_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5px;
}
.stat_list li {
  display: flex;
  flex-direction: column;
  border: 3px solid gray;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5%;
}
.label,
.percentage {
  font-size: large;
  line-height: 1.7rem;
  color: black;
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
